  
body {
  margin: 0px;
  font-family: 'RocknRoll One', sans-serif; 
  background-color: #dbdbdb;
  padding-top: 70px;
}

#jumbo1 {
	color: #2c3e50;
	background: #ecf0f1;
}

#navbar1 {
	background: #2c3e50;
}

.gallery {
  width: 30%;
  height: 25%;
  float: left;
  display:inline;
  border: 1px solid grey;
  margin: 8px;
}

#image {
  width: auto;
  height: 200px;
}

#imageDetail {
  max-width:100%;
  min-height:300px;
  object-fit: cover;
  padding: 2%;
}

#detailTitle {
  text-align: center;
}

.galleryItem {
  overflow: hidden;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3px;
}

#artworkTitle {
  text-align: center;
}

#login {
  width: 35%; /* Can be in percentage also. */
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

#detail {
  list-style-type: none;
  margin-left: 15px;
  margin-top: 15px;
  text-align: left;
  padding-left: 0px;
 }
