{% extends 'base.html' %}

{% block content %}

<div id="detail" class="row">
    <div class="col-md-8">
        <div class="thumbnail">
            <h1 id="detailTitle">{{ object.title }}</h1>            
            <img id="imageDetail" src="{{ object.images.url }}" alt="{{ object.title }}">
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">   
            <ul id="detail">        
                <li><strong>Title:</strong> {{ object.title }}</li>
                <li><strong>Description:</strong> {{ object.descrilition }}</li>
                <li><strong>Width:</strong> {{ object.width }}mm</li>
                <li><strong>Height:</strong> {{ object.height }}mm</li>
                <li><strong>Artist:</strong> {{ object.artist }}</li>
                <li><strong>Year:</strong> {{ object.year }}</li>
            </ul> 
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="col-md-4">
            <div class="thumbnail">   
                <ul id="detail">        
                    {% if enq %}
                        <li><h3>You have already enquired about this piece. Please contact us if you have any concerns</h3></li>
                    {% else %}
                        <li><h3>Enquire about this piece here!</h3></li>
                        <li>
                            <form id="search"method="post" novalidate>
                                {% csrf_token %}
                                {% include 'includes/signupForm.html' %}
                                <button type="submit" name="save" class="btn btn-primary btn-block">Submit Enquiry</button>
                            </form>
                        </li>
                    {% endif %}
                </ul> 
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}