{% extends 'base.html' %}

{% block content %}

<div id="detail" class="row">
    <div class="col-md-8">
        <div class="thumbnail">
            <h1 id="detailTitle">{{ object.title }}</h1>            
            <img id="imageDetail" src="{{ object.images.url }}" alt="{{ object.title }}">
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">   
            <ul id="detail">        
                <li><strong>Title:</strong> {{ object.title }}</li>
                <li><strong>Description:</strong> {{ object.descrilition }}</li>
                <li><strong>Width:</strong> {{ object.width }}mm</li>
                <li><strong>Height:</strong> {{ object.height }}mm</li>
                <li><strong>Artist:</strong> {{ object.artist }}</li>
                <li><strong>Year:</strong> {{ object.year }}</li>
            </ul> 
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">   
            <ul id="detail">        
                <li><h3>Enquire about this piece here!</h3></li>
                {% if enq %}
                    <li>Enquiry already sent!</li>
                {% endif %}
                <li>
                    <form id="search"method="post" novalidate>
                        {% csrf_token %}
                        {% include 'includes/signupForm.html' %}
                        <button type="submit" name="save" class="btn btn-primary btn-block">Submit Enquiry</button>
                    </form>
                </li>
            </ul> 
        </div>
    </div>
</div>

{% endblock %}