{% extends 'base.html' %}

{% block content %}

<nav id="mySidenav" class="sidenav">
<div>
        <h1 style="text-align:left;float:left;">Filter</h1>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
            <b class="fas fa-times">
        </a>
</div>
        <form id="search"method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/signupForm.html' %}
            <button type="submit" class="btn btn-primary btn-block">Search/Save</button>
        </form>

</nav>
<span onclick="openNav()">open</span>

<div id="main" class="container">
    <div class="jumbotron" id="jumbo1">
    	<h1><i class="fas fa-paint-brush"></i> Penny's Art Corner</h1>
    	<p>A gallery of exceptional art from local artists</p>
    </div>


    <div class="row">
        {% for object in object_list %}
        <div class="col-lg-4 col-sm-6">
            <a href="{{ object.get_absolute_url }}">
                <div class="thumbnail">            
                    <img id="image" src="{{ object.images.url }}" alt="{{ object.title }}">
                    <p id='artworkTitle'>{{ object.title }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }
  
  /* Set the width of the side navigation to 0 */
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
</script>
{% endblock %}